/* Mixed-ins */
/* global colors */
@font-face {
  font-family: 'Rajdhani';
  src: url("../fonts/Rajdhani-Regular.ttf"); }

html {
  background-color: white; }
  html a:visited {
    color: white; }
  html a, html u {
    border-bottom: none; }

.container .row {
  margin: 0 !important; }

.clean-pad {
  margin: 0 !important;
  padding: 0 !important; }

.thin-pad {
  margin: 0 !important;
  padding: 0.05em 0.1em 0.05em 0.1em !important; }

.title {
  font-size: 3.75em;
  padding-top: 9.5em;
  color: #ffffff;
  text-shadow: 0.025em 0.025em #2573a0;
  margin-left: 2em;
  font-family: 'Rajdhani'; }

.details {
  border: 0.1em solid white;
  background: white;
  padding: 1em;
  color: #2690b9;
  font-size: 1.65em;
  font-family: 'Rajdhani'; }

.enter {
  text-align: center;
  margin-top: 2em;
  margin-left: 8.5em;
  width: 12em; }

.sweet-loading {
  position: absolute;
  z-index: 100;
  top: 70%;
  left: 34.5%; }

.section {
  margin-top: 2em;
  height: 5em;
  padding: 0.8em;
  font-family: 'Rajdhani';
  cursor: pointer; }
  .section .name {
    margin-top: 0.05em;
    font-size: 2em;
    color: #2ca6d6;
    text-align: center; }

.target {
  border: 0.1em solid #2ca6d6;
  background: #2ca6d6; }
  .target .name {
    color: white;
    text-shadow: 0.025em 0.025em #1c6377; }

.mid-section {
  margin-top: 2em;
  height: 5em;
  padding: 1em;
  border: 0.1em solid #2ca6d6;
  font-family: 'Rajdhani'; }

.label {
  margin-top: 0.05em;
  font-size: 1.75em;
  color: #2ca6d6;
  text-align: center; }

.icon {
  margin-left: 0.25em;
  font-size: 0.85em; }

.icon:hover {
  opacity: 0.8; }

.wallet {
  margin-top: 1em;
  border-radius: 0.75em;
  border: 0.08em solid #94d5f3;
  height: 48em; }

.hidden {
  display: none;
  height: 48em; }

.explorer {
  margin-top: 1em;
  height: 48em;
  background: #e3f3fa;
  border: 0.1em solid #a9e5fd; }
  .explorer .send-proof {
    border-radius: 0.75em;
    border: 0.1em solid #94d5f3;
    height: 8em;
    margin: 1em;
    background: white; }
  .explorer .send-proof-final {
    border-radius: 0.75em;
    border: 0.1em solid #94d5f3;
    height: 8em;
    margin: 1em;
    background: #2ca6d6;
    padding: 1em; }
    .explorer .send-proof-final .person {
      color: #cde5f0; }
    .explorer .send-proof-final .amount {
      color: white; }
  .explorer .person {
    padding: 1em;
    color: #177aa1; }
  .explorer .amount {
    padding-left: 1em;
    color: #2ca6d6; }

.head-piece {
  height: 34mm;
  border-radius: 0.75em;
  border: 0.1em solid #ffffff;
  background: #3bb3e2;
  /* Old browsers */
  background: -moz-linear-gradient(left, #71d4fc 0%, #1eb5df 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #5cbfe6 0%, #1eb5df 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #5cbfe6 0%, #1eb5df 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ca6d6', endColorstr='#00b7ea',GradientType=1 );
  /* IE6-9 */
  z-index: -1; }
  .head-piece .top-text {
    margin-top: 1em;
    font-size: 1.55em;
    color: white;
    text-shadow: 0.025em 0.025em #1c6377; }
  .head-piece .mid-text {
    margin-top: 0em;
    font-size: 1.2em;
    color: #ffffff;
    font-weight: 300; }
  .head-piece .money-text {
    margin-top: 4.1em;
    color: white; }

.info {
  height: 18em;
  background: white;
  border-bottom: 0.1em solid #94d5f3;
  position: relative;
  z-index: 10; }
  .info .input-block {
    margin: 0.25em;
    height: 5em;
    border-bottom: 0.1em solid #afe1f8; }
  .info .input-area {
    margin-top: 0.5em;
    height: 3em;
    border: 0.1em solid #94d5f3; }
  .info .input-field {
    margin-top: -0.1em; }
  .info .input-area-two {
    margin-top: 0.5em;
    height: 3em;
    border: 0.1em solid #eeeeee;
    background: #5cbfe6; }
    .info .input-area-two input:not([type]) {
      color: white !important; }
  .info .input-text {
    margin-top: 1.1em;
    font-size: 1.1em;
    color: #3189b3; }
  .info .input-text-display {
    margin-top: 0.5em;
    margin-left: 1em;
    font-size: 1.1em;
    color: white; }
  .info .icon {
    margin-right: 0.5em; }
  .info input:not([type]) {
    margin-left: 1em;
    color: #3189b3;
    border-bottom: none;
    width: 70%; }
  .info input:not([type]):focus:not([readonly]) {
    box-shadow: none;
    border-bottom: none; }
  .info .input-address {
    margin: 0.25em;
    height: 5em;
    border-bottom: 0.1em solid #afe1f8; }
  .info .create-proof-btn {
    margin-top: 2em;
    border-radius: 0.75em;
    border: 0.08em solid #3189b3;
    padding: 1em;
    color: #3189b3;
    font-size: 0.9em;
    cursor: pointer;
    text-align: center; }
  .info .create-proof-btn:hover {
    background: #e3f3fa; }
  .info .create-send-btn {
    margin-top: 2em;
    border-radius: 0.75em;
    padding: 1em;
    font-size: 0.9em;
    cursor: pointer;
    color: white;
    background: #48a1ca;
    text-align: center; }
  .info .create-send-btn:hover {
    opacity: 0.8; }

.lower {
  height: 18em;
  background: #f7f7f7; }
  .lower .proof-data {
    padding: 1em;
    color: #48a1ca; }

@media only screen and (max-width: 27em) {
  .container {
    min-width: 85em; } }

@media only screen and (min-width: 27.6em) and (max-width: 55.6em) {
  .container {
    min-width: 85em; } }

@media only screen and (min-width: 55.7em) and (max-width: 74.1em) {
  .container {
    min-width: 85em; } }

@media only screen and (min-width: 74.1em) and (max-width: 98.8em) {
  .container {
    width: 100%; } }

@media only screen and (min-width: 98.9em) and (max-width: 117.3em) {
  .container {
    width: 90%; } }

@media only screen and (min-width: 117.4em) {
  .container {
    max-width: 85em; } }

.bg-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/images/bluebg.png");
  background-size: 100% 100%; }
  @media only screen and (min-width: 55.7em) and (max-width: 74.1em) {
    .bg-wrapper {
      background-position: center;
      background-attachment: fixed; } }
  @media only screen and (min-width: 98.9em) and (max-width: 117.3em) {
    .bg-wrapper {
      background-position: center;
      background-attachment: fixed; } }
  @media only screen and (min-width: 117.4em) {
    .bg-wrapper {
      background-position: center;
      background-attachment: fixed; } }
