/* global colors */

// text color
$text-dark-blue: #738e99;
$text-grey-blue: #8eb1c0;
$text-mid-blue: #638696;
$text-lite-blue: #92bacc;
$text-clear-blue: #c0e0ee;

$border-lite-grey: #afafaf;

$border-grey: #8f8f8f;
$bg-lite-blue: #2886bd;

$text-lite-grey: #d4d4d4;
$text-dark-grey: #868686;